---
import AcademiItem from './AcademiItem.astro';

const EXPERIENCE = [    
    {
        title: "fullstack developer",
        description: "Soy henrry",
        date: "enero - mayo 2024"
    },  
    {
        title: "Front-End Developer",
        description: "Autodidacta",
        date: "octubre 2023 - diciembre 2023"
    },  
    {
        title: "Diplomado Big Data Analítica , Procesamiento de datos",
        description: "cedesistema",
        date: "2021"
    },
    {
        title: "Ingeniero Administrador , Ingenieria Administrativa",
        description: "universidad nacional de colombia",
        date: "2013 - 2018"
    },


]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">                  
        {
            EXPERIENCE.map((experience) => (
                <li class="mb-10 ms-4">
                <AcademiItem {...experience} />
                </li>
            ))
        }
</li>
</ol>