<section class="about-section">
    <div class="card">
        <a href="#">
          <img class="card-img" src="projects/colombian.jpg" alt="Friends" />
        </a>
        <div class="card-content">
          <a href="#">
            <h5 class="card-title">Un colombiano de gran carisma y muy buenas relaciones</h5>
          </a>
          <p class="card-text">Vivo en Colombia, en la ciudad de Cali. Soy una persona leal, confiable y muy responsable, por eso considero que me va bien trabajando en equipo y haciendo buenas relaciones con los demas.</p>
        </div>
      </div>
    <div class="card">
      <a href="#">
        <img class="card-img" src="projects/sobrina.jpg" alt="Sobrina" />
      </a>
      <div class="card-content">
        <a href="#">
          <h5 class="card-title">Amo pasar tiempo con mi sobrina</h5>
        </a>
        <p class="card-text">Me encantan los niños y justamente acabo de volverme tio de una princesa hermosa llamada Ivanna, que me trae loco de amor🥰.</p>
      </div>
    </div>
  
    <div class="card">
      <a href="#">
        <img class="card-img" src="projects/futbol.jpg" alt="Futbol" />
      </a>
      <div class="card-content">
        <a href="#">
          <h5 class="card-title">Me encantan el ejercicio y los deportes</h5>
        </a>
        <p class="card-text">Me gustan los deportes y hacer ejercicio pero en especial soy muy amante de jugar futbol⚽.</p>
      </div>
    </div>
  </section>
