---
import ExperienceItems from './ExperienceItems.astro';

const EXPERIENCE = [
    {
        title: "Student Teaching Assistant",
        description: "Desarrollar Propuestas y Recomendaciones: Crear y presentar propuestas destinadas a mejorar la eficiencia operativa de la academia, con el objetivo de contribuir a su mejora continua. Liderar y Supervisar Equipos de Estudiantes: Dirigir y supervisar equipos de estudiantes para facilitar su integración efectiva en el entorno de estudio, asegurando una experiencia de aprendizaje positiva y productiva. Apoyo Activo en la Resolución de Ejercicios: Proporcionar asistencia activa en la resolución de ejercicios, fomentando el aprendizaje colaborativo mediante prácticas como la programación en pareja (Pair Programming).",
        date: "mar. 2024 - actualidad"
    },
    {
        title: "Director del equipo comercial",
        description: "Liderazgo de equipos, Dirección técnica",
        date: "sept. 2020 - jun. 2023"
    },
    {
        title: "Analista de ingresos",
        description: "Liderazgo de equipos, Dirección técnica",
        date: "oct. 2019 - sept. 2020"
    },
    {
        title: "Prácticas en gerencia financiera",
        description: "Contabilizar inversiones de los dineros excedentes. Realizar informes de posicionamiento de liquidez de los diferentes bancos en Argentina. Contabilizar el pago de importaciones. Asesorar a los proveedores de toda la cadena de suministro en Familia.",
        date: "ene. 2018 - jul. 2018"
    },
    {
        title: "Ingeniero Administrador , Ingenieria Administrativa",
        description: "Actividades y grupos: waterpolo",
        date: "2013 - 2018"
    },
    {
        title: "Diplomado Big Data Analítica , Procesamiento de datos",
        description: "",
        date: "2021"
    },
    {
        title: "Coco+",
        description: "Tuve el privilegio de formar parte del equipo de desarrollo full stack en la creación de una aplicación web para Coco+, una startup en incubación. Desarrollamos la aplicación en solo un mes. Mis responsabilidades se centraron principalmente en el desarrollo front end, incluyendo la configuración de rutas para cinco roles diferentes (super admin, admin de empresa, empleados, admin de coworking, recepcionista), la integración de mapas para la creación y geolocalización de coworkings con geocodificación y geocodificación inversa, el desarrollo del sistema de reservas para empleados, y la implementación de funcionalidades para calificaciones y reseñas. Utilicé los endpoints proporcionados por el equipo de back end para toda la lógica de cara al cliente, optimizando el rendimiento y asegurando una experiencia de usuario fluida. Este proyecto fue un esfuerzo de equipo increíble y me siento orgulloso de haber contribuido a su éxito desde el front end. ¡Un gran logro en innovación y colaboración!",
        date: "abr. 2024 - may. 2024"
    }
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">                  
        {
            EXPERIENCE.map((experience) => (
                <li class="mb-10 ms-4">
                <ExperienceItems {...experience} />
                </li>
            ))
        }
</li>
</ol>